body {
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

P {
  margin: 0 0 10px;
}

/* container */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
}

.header.fixed {
  height: auto;
  position: fixed;
  background-color: #31344e;
}

.header.fixed .header__inner {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;

  border-bottom: 1px solid #515369;
}

/* Nav */

.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  opacity: 0.75;
  transition: 0.1s linear;
  margin-left: 50px;
}

.nav__link:first-child {
  margin-left: 0;
}

.nav__link:hover {
  opacity: 1;
}

/* intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  padding-top: 100px;
  background: #31344e url(../img/bg.png) center no-repeat;
  background-size: cover;
}
.intro__inner {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  margin: 0 0 30px;
  font-family: "Open-sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
}

.intro__subtitle {
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 60px;
}

/* button */

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 2px;
  font-family: "Raleway", sans-serif;
  border: 0;
  cursor: pointer;
  transition: 0.1s linear;
  text-align: center;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #ca3232;
}

.btn--long {
    min-width: 280px;
}

/* features */

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 95px 0;
}

.features__item {
  width: 33.33333%;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0;
}

.features__img {
  margin-bottom: 25px;
}

.features__title {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features__text {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
}

/* works */

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__photo {
  min-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.works_title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.works_text {
  font-size: 14px;
  color: #fff;
}

/* team */

.team {
  margin: 100px 0 70px;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team__name {
  margin-bottom: 8px;
  font-size: 22px;
  color: #2d3033;
}

.team__prof {
  margin-bottom: 15px;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
}

.team__text {
  margin-bottom: 20px;
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

/* social */

.social {
  display: flex;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e8ecee;
  transition: 0.1s linear;
  margin-right: 4px;
}

.social__item:hover {
  background-color: #e8ecee;
}

.social__item:hover .social__icon {
  fill: #000;
}

.social__icon {
  display: block;
  height: 18px;
  fill: #c6cacc;
  transition: fill 0.1s linear;
}

.social--footer {
    justify-content: center;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social--footer .social__icon {
    fill: #fff;
}

/*reviews*/

.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews__slider {
  height: 500px;
  overflow: hidden;
}

.slick-slide:focus {
  outline: none;
}

.reviews__slider .slick-initialized {
  height: auto;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    margin-bottom: 25px;
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 0 10px;
  list-style: none;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  background: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border: 0;
  padding: 0;
  font-size: 0;
  color: transparent;
  opacity: .5;
  cursor: pointer;
}

.slick-dots button:focus {
  outline: 0;
}

.slick-dots .slick-active button {
  opacity: 1;
}

/*download*/

.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    margin-bottom: 10px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}

.download__text {
    margin-bottom: 30px;
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

/*footer*/

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;
    text-align: center;
}

.footer__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer__address {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgb(255, 255, 255,0.5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgb(255, 255, 255,0.5);
}

/*copyright*/

.copyright {
    padding: 20px 0;
    background-color: #313454;
}

.copyright__text {
    text-align: center;
    color: #808080;
    font-size: 14px;
    line-height: 1.5;
}

.copyright__text span {
    color: #fff;
}

/*burger*/

.burger {
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 9px 2px;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: -8px;
  z-index: 1;
}

.burger__item::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -8px;
  z-index: 1;
}


/*media*/

@media (max-width:1300px) {
  .works__item {
    width: 50%;
  }
}

@media (max-width:991px) {

  .nav {
    display: none;
    background-color: #31344e;
    width: 100%;
    flex-direction: column;
    text-align: right;
    position: absolute;
    top: 100%;
    right: 0;
  }

  .nav.show {
    display: flex;
  }

  .nav__link {
    padding: 9px 15px;
  }

  .burger {
    display: block;
  }

  .intro__title {
    font-size: 40px;
  }

  .features__item {
    width: 50%;
  }

  .team__item {
    width: 50%;
    text-align: center;
  }

  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }

  .social {
    justify-content: center;
  }

  .reviews__photo {
    margin: 15px 0 40px;
    width: 100%;
    overflow: hidden;
  }

  .reviews__content {
    width: 100%;
    padding-left: 0;
    padding-bottom: 40px;
  }

}

@media (max-width:767px) {

  .intro {
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
  }

  .intro__title {
    font-size: 30px;
  }

  .intro__subtitle {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .features {
    margin: 40px 0;
  }

  .features__item {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .works__item {
    width: 100%;
    height: 300px;
  }

  .team {
    margin: 60px 0 30px;
  }

  .team__item {
    width: 100%;
    text-align: center;
  }

  .reviews__text {
    font-size: 25px;
  }

  .btn--long {
    min-width: 260px;
  }

  .download {
    margin: 50px 0;
  }

  .download__title {
    font-size: 24px;
  }

  .footer__inner {
    padding: 30px 0;
  }

  .footer__block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .footer__block:last-child {
    margin-bottom: 0;
  }
}

@media (max-width:414px) {
  .reviews__img {
    right: -100px;
  }
}